exercise

In [2]:
l1 = ["PUNJAB","Tamil Nadu","Delhi","Gujarat","Uttar Pradesh"]
print(l1)

['PUNJAB', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Uttar Pradesh']

In [3]:
l2 = [180298,94049,89802,33232,24056]
print(l2)

[180298, 94049, 89802, 33232, 24056]

In [4]:
t = (93154,52926,59992,24030,16629)
print(t)

(93154, 52926, 59992, 24030, 16629)

In [6]:
dict = {"PUNJAB":180298,"Tamil Nadu":94049,"Delhi":89802,"Gujarat":33232,"Uttar Pradesh":24056}
print(dict)

{'PUNJAB': 180298, 'Tamil Nadu': 94049, 'Delhi': 89802, 'Gujarat': 33232, 'Uttar Pradesh': 24056}

list

In [7]:
l = [23,45,55,90,32,12]
print(l)

[23, 45, 55, 90, 32, 12]

In [8]:
print(l[1:4])

[45, 55, 90]

In [9]:
print(l[1:-3])

[45, 55]

In [10]:
print(l[3:])

[90, 32, 12]

In [11]:
print(l[3::-1])

[90, 55, 45, 23]

In [12]:
print(l[3:6:-1])

[]

In [13]:
l + ["hello"]

[23, 45, 55, 90, 32, 12, 'hello']

In [14]:
print(l)

[23, 45, 55, 90, 32, 12]

In [15]:
l = l + ["hello"]  
print(l)

[23, 45, 55, 90, 32, 12, 'hello']

In [16]:
l.append(65)
print(l)

[23, 45, 55, 90, 32, 12, 'hello', 65]

In [17]:
l.pop(1)
print(l)

[23, 55, 90, 32, 12, 'hello', 65]

In [18]:
print(l.pop())

65


Set

In [19]:
s = {12,12,34,56}
print(s)

{56, 34, 12}

In [20]:
s.add(12)
print(s)

{56, 34, 12}

In [21]:
l3 = [1,1,22,22,33,44,55,55]
s1 = set(l3)
print(s1)

{1, 33, 44, 22, 55}

In [22]:
num = 3 
if num % 2 == 0:
    print("{} is a even number".format(num))
else:
    print("{} is a odd number".format(num))

3 is a odd number

In [23]:
st1 = "hello"
for i in st1:
    print(i)

h
e
l
l
o

In [24]:
for i in t:
    print(i)

93154
52926
59992
24030
16629

In [25]:
addBy2= lambda x: x+2
print(addBy2(2))

4